
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20em 20em;
    height: 100%;
}

.info-content{
    h1{
        font-size: 4rem;
        font-weight: bold;
        color: hsl(0, 0%, 8%);
        margin: 0;
        word-wrap: break-word;
        width: 35rem;

        // media queries

        @media (max-width: 768px){
            font-size: 2rem;
            width: 100%;
            text-align: center;
        }

    }

    p{
        font-size: 1.1rem;
        font-weight: 500;
        color: hsl(0, 0%, 52%);
        margin: 0;
        width:27rem;

        // media queries
        @media (max-width: 768px){
            font-size: 1rem;
            width: 100%;
            text-align: center;
        }       
       
    }

    .btn{
        border-radius: 13px;
    }

    .brand-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
  

        img{
            width: 100%;
            margin-right: 60px;
        }

        // media queries
        @media (max-width: 768px){
           
            margin-top: 50px;
            img{
                width: 20%;
                margin-right: 15px;
                margin-bottom: 20px;
            }
        }
    }
}


.images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 70%;
        min-width: 80px;
        margin: 0;

    }
}